.n-btn{
    /* ----------상수변수-------------- */
    /* 버튼의 높이 */
    /* btn-height : 32px, 40px, 56px, 96px, 136px */
    --btn-height-1: 32px;
    --btn-height-2: 40px;
    --btn-height-3: 56px;
    --btn-height-4: 96px;
    --btn-height-5: 136px;
   
    --btn-padding-1: 0 12px;
    --btn-padding-2: 0 16px;
    --btn-padding-3: 0 24px;
    --btn-padding-4: 0 48px;
    --btn-padding-5: 0 64px;

    --btn-weight-1: 100;
    --btn-weight-2: 200;
    --btn-weight-3: 300;
    --btn-weight-4: 400;
    --btn-weight-5: 500;

    /* --------------변수---------------- */
    --btn-color: var(--color-main-2);
    --btn-size: var(--icon-size-1);
    --btn-weight: 500;
    --btn-height: var(--btn-height-2);
    --btn-padding: var(--btn-padding-2);
    --btn-fill: 1;
}

@media (prefers-color-scheme: dark){
    .n-btn{
        --btn-color: var(--color-main-1);
    }
}
.n-btn{
    /* boxing*/
    height: 40px;
    padding: 0 16px;
    border-radius: 40px;  
    border: 0px;
    background-color: var(--btn-color);
    /* content */
    font-size: var(--icon-size-1);
    font-weight: 400;
    color:var(--color-base-1);
    font-variation-settings: 'FILL' 1;

    /* effect */
    transition: background-color 3s ease, 
    padding 3s ease,
    transform 3s ease;
}